{% extends 'base.html.twig' %}

{% block body %}

 <!-- blog page -->
    <section class = "blog container">
      <div class = "title">
        <h2>posts</h2>
        <div>
          <h2>my blog</h2>
        </div>
      </div>

      <p class = "text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus architecto fugit veniam ad consectetur, perferendis, voluptatum, commodi cum facere accusantium error alias ex exercitationem. Explicabo?</p>

      <div class = "row">
        <div class = "item">
          <div class = "item-img">
            <img src = "assets/blog-img-1.jpg" alt = "blog image">
          </div>
          <div class = "item-content">
            <span>june 22, 2022 &nbsp; admin
              <i class = "fas fa-comment-alt"></i> 3
            </span>
            <h2>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, aliquam</h2>
            <p class = "text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Mollitia, voluptas sint architecto, repellendus quae facilis eaque aperiam fugiat vel, similique necessitatibus tenetur saepe commodi repudiandae perferendis error eligendi omnis iste?</p>
            <button type = "button" class = "btn">read more</button>
          </div>
        </div>

        <div class = "item">
          <div class = "item-img">
            <img src = "assets/blog-img-2.jpg" alt = "blog image">
          </div>
          <div class = "item-content">
            <span>june 22, 2022 &nbsp; admin
              <i class = "fas fa-comment-alt"></i> 3
            </span>
            <h2>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, aliquam</h2>
            <p class = "text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Mollitia, voluptas sint architecto, repellendus quae facilis eaque aperiam fugiat vel, similique necessitatibus tenetur saepe commodi repudiandae perferendis error eligendi omnis iste?</p>
            <button type = "button" class = "btn">read more</button>
          </div>
        </div>

        <div class = "item">
          <div class = "item-img">
            <img src = "assets/blog-img-3.jpg" alt = "blog image">
          </div>
          <div class = "item-content">
            <span>june 22, 2022 &nbsp; admin
              <i class = "fas fa-comment-alt"></i> 3
            </span>
            <h2>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, aliquam</h2>
            <p class = "text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Mollitia, voluptas sint architecto, repellendus quae facilis eaque aperiam fugiat vel, similique necessitatibus tenetur saepe commodi repudiandae perferendis error eligendi omnis iste?</p>
            <button type = "button" class = "btn">read more</button>
          </div>
        </div>

        <div class = "item">
          <div class = "item-img">
            <img src = "assets/blog-img-4.jpg" alt = "blog image">
          </div>
          <div class = "item-content">
            <span>june 22, 2022 &nbsp; admin
              <i class = "fas fa-comment-alt"></i> 3
            </span>
            <h2>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, aliquam</h2>
            <p class = "text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Mollitia, voluptas sint architecto, repellendus quae facilis eaque aperiam fugiat vel, similique necessitatibus tenetur saepe commodi repudiandae perferendis error eligendi omnis iste?</p>
            <button type = "button" class = "btn">read more</button>
          </div>
        </div>

        <div class = "item">
          <div class = "item-img">
            <img src = "assets/blog-img-5.jpg" alt = "blog image">
          </div>
          <div class = "item-content">
            <span>june 22, 2022 &nbsp; admin
              <i class = "fas fa-comment-alt"></i> 3
            </span>
            <h2>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, aliquam</h2>
            <p class = "text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Mollitia, voluptas sint architecto, repellendus quae facilis eaque aperiam fugiat vel, similique necessitatibus tenetur saepe commodi repudiandae perferendis error eligendi omnis iste?</p>
            <button type = "button" class = "btn">read more</button>
          </div>
        </div>

        <div class = "item">
          <div class = "item-img">
            <img src = "assets/blog-img-6.jpg" alt = "blog image">
          </div>
          <div class = "item-content">
            <span>june 22, 2022 &nbsp; admin
              <i class = "fas fa-comment-alt"></i> 3
            </span>
            <h2>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, aliquam</h2>
            <p class = "text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Mollitia, voluptas sint architecto, repellendus quae facilis eaque aperiam fugiat vel, similique necessitatibus tenetur saepe commodi repudiandae perferendis error eligendi omnis iste?</p>
            <button type = "button" class = "btn">read more</button>
          </div>
        </div>
      </div>

      <div class = "pagination">
        <a href = "#" class = "page-link">1</a>
        <a href = "#" class = "page-link">2</a>
        <a href = "#" class = "page-link">3</a>
        <a href = "#" class = "page-link">4</a>
      </div>
    </section>
    <!-- end of blog page -->
    
    
{% endblock %}