{% extends 'base.html.twig' %}


{% block body %}
<!-- contact page -->
    <section class = "contact container">
      <div class = "title">
        <h2>contact</h2>
        <div>
          <h2>get in touch</h2>
        </div>
      </div>

      <p class = "text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aperiam tempore, et dolores eum voluptas iusto voluptate, dicta iure mollitia atque, exercitationem deserunt laborum libero natus!</p>

      <div class = "row">
        <div class = "col-left">
          <h2>feel free to ask us!</h2>
          <p class = "text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui soluta mollitia suscipit maxime sunt dolore deleniti quam nihil repellendus perferendis.</p>

          <div class = "contact-info">
            <span><i class = "fas fa-envelope-open"></i></span>
            <h3>
              <span class = "text">mail me</span> <br>
              steve@gmail.com
            </h3>
          </div>

          <div class = "contact-info">
            <span><i class = "fas fa-phone-square-alt"></i></span>
            <h3>
              <span class = "text">call me</span> <br>
              + 212628490650
            </h3>
          </div>

          <div class = "contact-social-links">
            <a href = "#">
              <i class = "fab fa-facebook-f"></i>
            </a>
            <a href = "#">
              <i class = "fab fa-twitter"></i>
            </a>
            <a href = "#">
              <i class = "fab fa-youtube"></i>
            </a>
            <a href = "#">
              <i class = "fab fa-github"></i>
            </a>
          </div>
        </div>

        <div class = "col-right">
          <form class = "contact-form">
            <div class = "input-group mb-3">
              <input type = "text" class="form-control" placeholder="your name">
              <input type = "email" class="form-control" placeholder="your email">
              <input type = "text" class="form-control" placeholder="your subject">
            </div>
            <textarea class="form-control" rows = "5"></textarea>
            <button type = "submit" class = "btn btn-primary btn-lg">send message</button>
          </form>
        </div>
      </div>
    </section>
    <!-- end of contact page -->

{% endblock %}