{% extends 'base.html.twig' %}

{% block body %}


    
    <!-- home page -->
    <section class = "home container">
      <div class = "row">
        <div class = "row-left">
          <h3>hello!</h3>
          <h1>i'm <span>Achraf elaboye</span></h1>
          <h2>a developer web</h2>
          <div class = "home-pg-btn">
            <button type = "button" class = "btn">hire me</button>
            <button type = "button" class = "btn">my works</button>
          </div>
        </div>

        <div class = "row-right">
          <div class = "img-border">
            <div class = "img-container">
              <img src = "assets/my-photo.jpg" alt = "my photo">
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- end of home page -->


{% endblock %}
