{% extends 'base.html.twig' %}

{% block body %}
<!-- projects page -->
    <section class = "projects container">
      <div class = "title">
        <h2>projects</h2>
        <div>
          <h2>our projects</h2>
        </div>
      </div>

      <p class = "text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum perspiciatis accusantium eligendi aliquam excepturi dolores obcaecati eveniet inventore aut? Voluptas assumenda obcaecati dignissimos animi incidunt?</p>

      <div class = "row">
        <div class = "item">
          <div class = "item-overlay">
            <a href = "#">branding & illustration design</a>
            <h3>web design</h3>
          </div>
        </div>

        <div class = "item">
          <div class = "item-overlay">
            <a href = "#">branding & illustration design</a>
            <h3>web design</h3>
          </div>
        </div>

        <div class = "item">
          <div class = "item-overlay">
            <a href = "#">branding & illustration design</a>
            <h3>web design</h3>
          </div>
        </div>

        <div class = "item">
          <div class = "item-overlay">
            <a href = "#">branding & illustration design</a>
            <h3>web design</h3>
          </div>
        </div>

        <div class = "item">
          <div class = "item-overlay">
            <a href = "#">branding & illustration design</a>
            <h3>web design</h3>
          </div>
        </div>

        <div class = "item">
          <div class = "item-overlay">
            <a href = "#">branding & illustration design</a>
            <h3>web design</h3>
          </div>
        </div>
      </div>
    </section>
    <!-- end of projects page -->

{% endblock %}