{% extends 'base.html.twig' %}

{% block body %}
<!-- resume page -->
    <section class = "resume container">
      <div class = "title">
        <h2>resume</h2>
        <div>
          <h2>resume</h2>
        </div>
      </div>

      <p class = "text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Placeat consequatur ipsum dolores? Et consequuntur error, atque aliquid molestias, possimus sunt praesentium dolore, nam tenetur dicta!</p>

      <div class = "row">
        <div class = "item">
          <div class = "icon">
            <i class = "fas fa-briefcase"></i>
          </div>
          <span>2018 - present</span>
          <h2>web developer - <span>envato</span></h2>
          <p class = "text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit non porro nisi, vitae accusamus sapiente!</p>
        </div>

        <div class = "item">
          <div class = "icon">
            <i class = "fas fa-graduation-cap"></i>
          </div>
          <span>2015</span>
          <h2>computer engineering - <span>MIT</span></h2>
          <p class = "text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit non porro nisi, vitae accusamus sapiente!</p>
        </div>

        <div class = "item">
          <div class = "icon">
            <i class = "fas fa-briefcase"></i>
          </div>
          <span>2013 - 2018</span>
          <h2>ui/ux designer - <span>codeburst</span></h2>
          <p class = "text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit non porro nisi, vitae accusamus sapiente!</p>
        </div>

        <div class = "item">
          <div class = "icon">
            <i class = "fas fa-graduation-cap"></i>
          </div>
          <span>2012</span>
          <h2>masters in IT - <span>mit</span></h2>
          <p class = "text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit non porro nisi, vitae accusamus sapiente!</p>
        </div>

        <div class = "item">
          <div class = "icon">
            <i class = "fas fa-briefcase"></i>
          </div>
          <span>2005 - 2013</span>
          <h2>consultant - <span>videohive</span></h2>
          <p class = "text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit non porro nisi, vitae accusamus sapiente!</p>
        </div>

        <div class = "item">
          <div class = "icon">
            <i class = "fas fa-graduation-cap"></i>
          </div>
          <span>2009</span>
          <h2>high school - <span>tunis high school</span></h2>
          <p class = "text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit non porro nisi, vitae accusamus sapiente!</p>
        </div>
      </div>
    </section>
    <!-- end of resume page -->

{% endblock %}