{% extends 'base.html.twig' %}

{% block body %}
<!-- services page -->
    <section class = "services container">
      <div class = "title">
        <h2>services</h2>
        <div>
          <h2>services</h2>
        </div>
      </div>

      <p class = "text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim voluptatum cumque quaerat consequatur, laboriosam, nemo deleniti perferendis veniam amet labore nobis fugit voluptate sint omnis.</p>

      <div class = "row">
        <div class = "item">
          <span><i class = "fab fa-sketch"></i></span>
          <h2>web design</h2>
        </div>

        <div class = "item">
          <span><i class = "fas fa-camera-retro"></i></span>
          <h2>photography</h2>
        </div>

        <div class = "item">
          <span><i class = "fas fa-code"></i></span>
          <h2>web developer</h2>
        </div>

        <div class = "item">
          <span><i class = "fas fa-flask"></i></span>
          <h2>branding</h2>
        </div>

        <div class = "item">
          <span><i class = "fab fa-app-store"></i></span>
          <h2>app developing</h2>
        </div>

        <div class = "item">
          <span><i class = "fas fa-box-open"></i></span>
          <h2>product strategy</h2>
        </div>
      </div>

      <button type = "button" class = "btn">view more</button>
    </section>
    <!-- end of services page -->

{% endblock %}