{% extends 'base.html.twig' %}

{% block body %}

 <!-- skills page -->
    <section class = "skills container">
      <div class = "title">
        <h2>skills</h2>
        <div>
          <h2>my skills</h2>
        </div>
      </div>

      <p class = "text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quod ab laudantium possimus molestias sapiente, saepe facilis dolore autem repellat, quo iure tempore nisi perspiciatis. Quasi?</p>

      <div class = "row">
        <div class = "item">
          <div class = "item-text">
            <span>Photoshop</span>
            <span class = "w-90">90%</span>
          </div>
          <div class = "progress">
            <div class = "progress-bar w-90"></div>
          </div>
        </div>

        <div class = "item">
          <div class = "item-text">
            <span>jQuery</span>
            <span class = "w-75">75%</span>
          </div>
          <div class = "progress">
            <div class = "progress-bar w-75"></div>
          </div>
        </div>

        <div class = "item">
          <div class = "item-text">
            <span>HTML5</span>
            <span class = "w-85">85%</span>
          </div>
          <div class = "progress">
            <div class = "progress-bar w-85"></div>
          </div>
        </div>

        <div class = "item">
          <div class = "item-text">
            <span>CSS3</span>
            <span class = "w-80">80%</span>
          </div>
          <div class = "progress">
            <div class = "progress-bar w-80"></div>
          </div>
        </div>

        <div class = "item">
          <div class = "item-text">
            <span>Wordpress</span>
            <span class = "w-60">60%</span>
          </div>
          <div class = "progress">
            <div class = "progress-bar w-60"></div>
          </div>
        </div>

        <div class = "item">
          <div class = "item-text">
            <span>PHP</span>
            <span class = "w-68">68%</span>
          </div>
          <div class = "progress">
            <div class = "progress-bar w-68"></div>
          </div>
        </div>
      </div>
    </section>
    <!-- end of skills page -->
{% endblock %}